# Copia este archivo (`.env.template`) como `.env` para personalizar puertos y credenciales en local.

# Contenedores
APP_CONTAINER_NAME=franquicias-backend-api
MYSQL_CONTAINER_NAME=franquicias-mysql-db

# Puertos expuestos en el host
APP_PORT=8080
SERVER_PORT=8080
MYSQL_PORT=3306

# MySQL local en Docker Compose
MYSQL_DATABASE=franquicias_db
MYSQL_USER=franquicias_app
MYSQL_PASSWORD=franquicias_app_pass
MYSQL_ROOT_PASSWORD=franquicias_root_pass

# Conexion de la app hacia MySQL (usa el nombre del servicio `mysql` como host interno)
FRANQUICIAS_DB_JDBC_URL=jdbc:mysql://mysql:3306/franquicias_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
FRANQUICIAS_DB_USERNAME=franquicias_app
FRANQUICIAS_DB_PASSWORD=franquicias_app_pass
FRANQUICIAS_FLYWAY_ENABLED=true

# Logging de la app
APP_LOG_LEVEL_ROOT=INFO
APP_LOG_LEVEL_SPRING=INFO
APP_LOG_LEVEL_APP=INFO
APP_LOG_LEVEL_DB=WARN
APP_LOGS_PATH=/app/logs
